* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 56px;
  background-color: #08979c;
  color: white;
}

.main-container {
  flex: 1;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.main-content {
  padding: 16px 24px;
  width: 100%;
  transition: all 0.3s;
}

.main-show-sidebar {
  width: calc(100% - 250px);
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #00474f;
  color: white;
}

.item-wrapper {
  width: 20%;
  padding: 8px;
}

.item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 8px;
  width: 100%;
  height: 150px;
}

.new {
  position: absolute;
  top: 8px;
  left: -8px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 24px;
  background-color: red;
  color: white;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  overflow: hidden;
}

.sidebar-show {
  width: 100%;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  width: 250px;
  background-color: cadetblue;
  z-index: 99;
  transition: all 0.3s;
}

.sidebar-show .sidebar-container {
  left: 0;
}

.sidebar-content {
  display: flex;
  justify-content: space-between;
}

.sidebar-outside {
  width: calc(100% - 250px);
  height: 100vh;
}

.right-sidebar-container {
  position: fixed;
  top: 56px;
  right: -250px;
  padding: 16px;
  width: 250px;
  height: calc(100% - 96px);
  background-color: cadetblue;
  overflow: hidden;
  transition: all 0.3s;
}

.right-sidebar-show {
  right: 0;
}
